body{
  background-color: #ecf0f1;
}

/*modification titre et h1*/
.titre{
margin-top: 150px;
font-size: 4em;
text-shadow: 2px 2px 3px grey;
background-color:  #ecf0f1;
color: black;
}

h1{
background-color: #F44336;
color: white;
}
/*modification titre et h1*/


/*agrandissement du panel pour aligner avec le formulaire*/
.find{
   padding-bottom: 150px ;
}
/*agrandissement du panel pour aligner avec le formulaire*/

/*alignement du formulaire avec le panel*/
form{
  padding-top:  10px;
}
/*alignement du formulaire avec le panel*/

/*liens*/
textarea.md-textarea:focus:not([readonly]) + label {
  color: red;
}
textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid red;
    -webkit-box-shadow: 0 1px 0 0 red;
    box-shadow: 0 1px 0 0 red;
}

input[type="text"]:focus:not([readonly]) +label{
  color: red;
}
input[type="text"]:focus:not([readonly]){
  border-bottom: 1px solid red;
    -webkit-box-shadow: 0 1px 0 0 red;
    box-shadow: 0px 1px 0px 0px red
}

.navbar.navbar-dark form input[type=text]:focus:not([readonly]) {
    border-color: grey;
}

a {
    color: black;
}

a:focus{
  color: white;
}

a:hover{
  color: white;
}
/*liens*/



.logo{
  max-height: 50px;
}

.img-fluid{
  max-height: 400px;
  max-width: 400px;
  justify-content: center;
}

#festival{
  margin-top: 100px;
}

#actu{
  margin-top: 50px;
}

#film{
  margin-top: 50px;
}

.card{
  margin-bottom: 15px;
}
